*{
    background-color: pink;
}
h1,h2{
    color: blue;
    font-size: 200px;
}

#boss{
    color: burlywood;
    font-size: 10px;
}
.presentation{
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
section{
    border: solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1000px;
}
div{
    border: solid green;
    width: 600px;
    height: 100px;
    font-size: 50px;
    border-radius: 50%;
    margin: 50px;
    padding: 50px;

}