*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Outfit",sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 100vh;
}
.box{
    background-color: white;
    padding: 15px;
    border-radius: 25px;
    width: 20%;
    text-align: center;
}

img{
    width: 300px;
}
.qr-img{
    border-radius: 25px;
    width: 100%;
}
